<header id="header" class="animated fadeInDown">

  <div id="logo-group">
    <span id="logo"> <img src="assets/img/FørLablogo.jpg" alt="SmartAdmin" style="
      width: 90px;margin-top: -12px;"> </span>
  </div>

  <!-- <span id="extr-page-header-space">
        <span class="hidden-mobile hiddex-xs">Already registered?</span> <a routerLink="/login" class="btn btn-danger">Sign In</a> </span> -->

</header>
<div id="main" role="main" class="animated fadeInDown">

  <!-- MAIN CONTENT -->
  <div id="content" class="container">

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 hidden-xs hidden-sm" style="
      text-align: center;
      font-style: normal;
      font-weight: bolder;
      font-size: x-large;
      color: green;
      background-color: #d7fdea;
  ">
      <p>Congratulations ! Your account has been activated successfully. You can now login. <br><a class="btn btn-danger" routerlink="/login" ng-reflect-router-link="/login" href="#/login">Sign In</a></p>
          
  
          
  
        </div>
    
    </div>
  </div>

</div>
