

<div id="content">
  <sa-widgets-grid>


    <!-- START ROW -->

    <div class="row">

      <!-- NEW COL START -->
      <article class="col-sm-12 col-md-12 col-lg-12">
        <div sa-widget [editbutton]="false" [custombutton]="false" [deletebutton]="false">

          <header>
            <span class="widget-icon">
              <i class="fa fa-edit"></i>
            </span>


          </header>

          <!-- widget div-->
          <div>


            <!-- widget content -->
            <div class="widget-body no-padding">
              <form class="smart-form" novalidate="novalidate">
                <!-- [formGroup]="RecentForecast" -->
                <header>
                  <h3 style="
                color: gray;
            ">
                   WHAT METHODOLOGY ARE YOU THINKING OF USING FOR THIS FORECAST
                  </h3>
                </header> 

                <fieldset>
                  <div class="row">
                    <section class="col col-4">
                      <button  class="btn btn-default btn-lg" [ngClass]="{ highlight: isHighlight1 }" (click)="updateforecast('S')" style="width: 100%;color: gray;" [disabled]="exist !=0">SERVICE STATSTICS </button>
                      <br>
                      <p style="padding: 5%;"> 
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                      </p>
<br>
                      <a class="btn btn-default btn-sm" (click)="ReadMore('S')" style="background-color: gray;color: white;">Read More </a>
                    </section>
                    <section class="col col-4">
                      <button  class="btn btn-default btn-lg"  [ngClass]="{ highlight: isHighlight2 }" (click)="updateforecast('C')" style="width: 100%;color: gray;" [disabled]="exist !=0">CONSUMPTION </button>
                        <br>
                      <p style="padding: 5%;">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                      </p>
                      <br>
                      <a class="btn btn-default btn-sm"  (click)="ReadMore('C')"  style="background-color: gray;color: white;">Read More </a>
                    </section>
                    <section class="col col-4">
                      <button class="btn btn-default btn-lg"  [ngClass]="{ highlight: isHighlight3 }" (click)="updateforecast('D')"  style="width: 100%;color: gray;" [disabled]="exist !=0">DEMOGRAPHIC </button>
                      <br>
                      <p style="padding: 5%;"> 
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                      </p>
                      <br>
                      <a  class="btn btn-default btn-sm" (click)="ReadMore('D')"  style="background-color: gray;color: white;">Read More </a>
                    </section>
                    </div>
        
</fieldset>

<footer>
  <a  class="btn btn-default" (click)="Previousclick()" style="float: left;"><b>
     << Previous</b> </a> <a class="btn btn-default" style="float: right;" (click)="Saveforecastproductusage()"><b>Next >></b></a>
</footer>

</form>

</div>
<!-- end widget content -->

</div>
<!-- end widget div -->

</div>
</article>
</div>
</sa-widgets-grid>
</div>


<div bsModal #lgModal4="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
      <div class="modal-content" style="
      border-radius: 0%;
      background-color: gray;
      color: white;
  ">
       
          <div class="modal-body">
            <button type="button" class="close" (click)="lgModal4.hide()" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
          <p> {{content}}</p>
           
          </div>

      </div>
  </div>
</div>