ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  
  }
  
 
  
  li a {
    display: block;
    color: gray;
    text-align: Left;
    padding-top: 6px;
    padding-left: 20px;
    padding-bottom: 6px;
    text-decoration: none;
    font-size: 14px;
  }
  
  li a:hover {
    background-color: lightgray;
  }

  .highlight {
    background-color:    lightgray;
    ;
  }