<div id="content">
  <sa-widgets-grid>


    <!-- START ROW -->

    <div class="row">

      <!-- NEW COL START -->
      <article class="col-sm-12 col-md-12 col-lg-12">
        <div sa-widget [editbutton]="false" [custombutton]="false" [deletebutton]="false">

          <header>
            <span class="widget-icon">
              <i class="fa fa-edit"></i>
            </span>



          </header>

          <!-- widget div-->
          <div>


            <!-- widget content -->
            <div class="widget-body no-padding">
              <form class="smart-form" novalidate="novalidate"  [formGroup]="Productass">
                <!-- [formGroup]="RecentForecast" -->
                <header>
                  <h3 style="
                color: gray;
            ">
               PROVIDE THE ASSUMPTION FOR THE FOLLOWING VARIABLES WHICH WILL AFFECT THE FINAL LABORATORY PRODUCT OUTPUT
                  </h3>
                </header>

                <fieldset>

                  <div class="row">
                    <section class="col col-10" > 
                            <div class="form-group">
                                <label class="control-label">Product Type
    
                                </label>
                                <label class="input">
                                    <select name="typeID" class="form-control" formControlName="typeID"  (change)="Gettype($event)">
                                        <option value="0" disabled>--Select--</option>
                                        <option *ngFor="let type of ProductTypeList" [value]="type.typeID">{{type.typeName}}</option>
    
                                    </select>
                                </label>
                            </div>
                        </section>
    
                        <section class="col col-2" > 
                            <label class="control-label">
    
                              </label>
                              <label class="input">
                            <button type="button" class="btn btn-primary btn-sm" (click)="AddnewproductAssumption()">
                              Add
                              </button>
                              </label>
                          </section>

                      </div>

                  <section>
                    <h2>

                    </h2>

                    <div class="table-responsive" style="overflow-y: auto;height: 318px;border-style: ridge;margin-top: 26px" formArrayName="_productassumption">



                      <table class="table table-bordered table-striped table-hover">

                        <thead>
                          <tr >
                             
                            <th *ngFor="let item of HeaderArray" style="vertical-align: middle">{{item}}</th>
                          
                          </tr>
                      </thead>
                        <tbody>
                          <tr *ngFor="let item1 of Productass.get('_productassumption')['controls']; let i = index;" [formGroupName]="i">

                            <td *ngFor="let item of controlArray">
                             
                              <label class="input">
                                <input type="{{item.type}}"  name="{{item.name}}"  min="1" [attr.max]="item.datatype === '2' ? '100' : 1000"  formControlName="{{item.name}}" [attr.disabled] = "item.type === 'text' ? 'disabled' : null" [style.text-align]="item.type === 'text' ? 'left' : 'right'"  (input)="inputvalue($event,i,item.datatype);"/>
                              </label>

                           
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>

                    <!--  <td >
                                  
                                  <label class="input">

                                      <input type="number" name="PatientPercentage" formControlName="PatientPercentage" style="text-align: right" (input)="calculatepatientratio($event.target.value,i)"/>
                                  </label>
                                 
                                  
                              </td>
                              <td >
                                  <label class="input">

                                      <input type="number" name="PatientRatio" formControlName="PatientRatio" style="text-align: right" />
                                  </label>
                              </td>
                        
                              <td>
                                  <label class="input">
                                      <a type="button" (click)="delremovepatientgroup(i)">
                                          <i class="fa fa-trash-o"></i>
                                      </a>
                                  </label>
                              </td>
                         
                          </tr> 
                      </tbody>
                  </table>


              </div> -->

                  </section>

                </fieldset>

                <footer>
                  <a [routerLink]="['/Forecast/Demographicpatient',forecastid,programid]" class="btn btn-default"
                    style="float: left;"><b>
                      << Previous</b> </a> <a (click)="saveproductassumption()" class="btn btn-default" style="float: right;"><b>Next
                      >></b></a>
                </footer>

              </form>

            </div>
            <!-- end widget content -->

          </div>
          <!-- end widget div -->

        </div>
      </article>
    </div>
  </sa-widgets-grid>
</div>
